<html>
<head>
 
    {# Cargamos la librería #}
    {% load bootstrap4 %}
   
    {# CSS Bootstrap #}
    {% bootstrap_css %}   

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
    {% load widget_tweaks %}
   
  </head>

<div class="container">
    <header class="row">
        <img src="{% static 'img/banner.png' %}" class="img-fluid" alt="banner">
    </header>

    <p></p>

    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Arlet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link active" href="{% url 'late_arrival_list' %}">Llegadas tarde</a>
                        <a class="nav-link active" href="{% url 'leer' %}">Aprendices</a>
                        <a class="nav-link active" href="{% url 'course_list' %}">Fichas</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
<body>
  {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %} 
 
      
      <h3 class="font-weight-bold">Crear Aprendiz</h3>
      <form method="post" enctype="multipart/form-data">
  
        <!-- Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro-->
        {% csrf_token %}
        
        <!-- {{ form.as_p }} -->
        <div class="form-group">
          <label for="Document" class="font-weight-bold">Document</label>
          {{ form.document|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
        </div>

        <div class="form-group">
          <label for="Full_name" class="font-weight-bold">Full_name</label>
          {{ form.full_name|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
        </div>

        <div class="form-group">
          <label for="Email" class="font-weight-bold">Email</label>
          {{ form.email|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
        </div>

        <div class="form-group">
          <label for="Id_course" class="font-weight-bold">Id_course</label>
          {{ form.id_course|add_class:"form-control mb-3" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
        </div>
        
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a href="./" type="submit" class="btn btn-primary">Cancelar</a>
       
      </form>    
   </body>

   <footer class="row bg-primary text-center text-lg-start" >
    <div class="text-center p-3">            
        <span class="text-light">© 2022 Copyright: SENA 2022</span>
    </div>
</footer>

</div>
   
</html>