<html>
<head>
 
    {# Cargamos la librería #}
    {% load bootstrap4 %}
   
    {# CSS Bootstrap #}
    {% bootstrap_css %}   

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
    {% load widget_tweaks %}
      
  </head>

<div class="container">
    <header class="row">
        <img src="{% static 'img/banner.png' %}" class="img-fluid" alt="banner">
    </header>

    <p></p>

    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Arlet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link active" href="{% url 'late_arrival_list' %}">Llegadas tarde</a>
                        <a class="nav-link active" href="{% url 'leer' %}">Aprendices</a>
                        <a class="nav-link active" href="{% url 'course_list' %}">Fichas</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
<body>
  {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %} 
      
      
        {% if messages %}
        <ul class="messages list-group mb-3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

      <h3 class="font-weight-bold">Listado de Aprendices</h3>

      <div align="left" class="btn_crear mb-3">
        <a href="crear" type="button" class="btn btn-primary">Crear</a>
      </div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th width="35%" class="font-weight-bold">Document</th>
            <th class="font-weight-bold">Full_name</th>
            <th class="font-weight-bold">Email</th>
            <th class="font-weight-bold">Id_course</th>
          </tr>
        </thead>
        <tbody>
        
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'Apprentice' y los listamos -->
        {% for apprentice in object_list %}
          <tr>
            <td>{{ apprentice.document }}</td>
            <td>{{ apprentice.full_name }}</td>
            <td>{{ apprentice.email }}</td>
            <td>{{ apprentice.id_course }}</td>
            <td>
       
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o Apprentice desde la misma tabla HTML -->                        
              <form method="POST" action="eliminar/{{apprentice.document}}">
                {% csrf_token %}
                <div class="btn-group">
       
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o Apprentice -->
                  <a href="detalle/{{apprentice.document}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                  <a href="editar/{{apprentice.document}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                  <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    Eliminar
                  </button>
                </div>
              </form>
       
            </td>
          </tr>
        {% endfor %}
       
        </tbody>
      </table>     

   </body>

   <footer class="row bg-primary text-center text-lg-start" >
    <div class="text-center p-3">            
        <span class="text-light">© 2022 Copyright: SENA 2022</span>
    </div>
</footer>

</div>

   <script type="text/javascript">
    function eliminar() {
      var x = confirm("Eliminar Aprendiz ?");
      if (x)
        return true;
      else
        return false;
    }
  </script>
   
</html>