{% extends "base.html" %}


{% block content %}


<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">Aprendices</span> 
    </div>
    <div class="card-body">

        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary">Nuevo</button>
        </div>

        <div class="row">
            <table id="table_apprentice" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Documento</th>
                        <th scope="col" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Correo electrónico</th>
                        <th scope="col" class="text-center">Ficha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for apprentice in apprentice_list %}
                        <tr class="text-center">
                            <th>{{ apprentice.document }}</th>
                            <td>{{ apprentice.full_name }}</td> 
                            <td>{{ apprentice.email }}</td> 
                            <td>{{ apprentice.id_course.id }}</td>                    
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        

    </div>
    
</div>
<br />

{% endblock content %}