{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Arlet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<div class="container">
    <header class="row">
        <img src="{% static 'img/banner.png' %}" class="img-fluid" alt="banner">
    </header>

    <p></p>

    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Arlet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link active" href="{% url 'late_arrival_list' %}">Llegadas tarde</a>
                        <a class="nav-link active" href="{% url 'leer' %}">Aprendices</a>
                        <a class="nav-link active" href="{% url 'course_list' %}">Fichas</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <br>

    <main>
        <div class="row">
            <div class="col-12">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        
        {% block content %}
        {% endblock content %}
    </main>

    <br>

    <footer class="row bg-primary text-center text-lg-start" >
        <div class="text-center p-3">            
            <span class="text-light">© 2022 Copyright: SENA 2022</span>
        </div>
    </footer>

</div>




<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>  
<!-- Bootstrap JavaScript Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    
<body>