{% extends "base.html" %}

{% block content %}


<div class="card border-primary">
    <div class="card-header">
        <span class="font-weight-bold">Fichas y Programas de formación</span>
    </div>
    <div class="card-body">
        <div class="d-grid gap-2 d-md-block">
            <a href="{% url 'course_new' %}" class="btn btn-primary">Nuevo</a>
        </div>

        <table id="table_course" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Ficha</th>
                    <th scope="col" class="text-center">Programa de formación</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for course in course_list %}                
                    <tr>
                        <th class="text-center">{{ course.id }}</th>
                        <td class="text-center">{{ course.career }}</td>
                        <td class="text-center">
                            <form method="POST" action="{% url 'course_delete' course.pk %}">{% csrf_token %}
                                <a href="{% url 'course_edit' course.pk %}" class="btn btn-info" role="button">Editar</a>
                                <button class="btn btn-danger" role="button" onclick="return eliminar();" type="submit">Eliminar</a>
                            </form>
                        </td>
                    </tr>                
                {% endfor %}

            </tbody>
        </table>

    </div>

</div>
<br />

<script type="text/javascript">
    function eliminar() {
        var x = confirm("¿Está seguro de que desea eliminar el registro?");
        if (x)
            return true;
        else
            return false;
    }


    $(document).ready(function () {
        $('#table_course').DataTable({
            "pageLength": 5,
            "lengthChange": false,
            "language": {
                "paginate": {
                    "previous": "Anterior",
                    "next": "Sgte"
                },
                "search": "Buscar:",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
            }
        });
    });

</script>

{% endblock content %}