{% extends "base.html" %}

{% block content %}

<div class="card border-primary">
    <div class="card-header">
        <span class="font-weight-bold">Registros de llegada tarde</span>
    </div>
    <div class="card-body">
        <div class="d-grid gap-2 d-md-block">
            <a href="{% url 'late_arrival_new' %}" class="btn btn-primary">Nuevo</a>
        </div>

        <hr>

        <div class="row">
            <div class="col-12">
                Ver/Ocultar columnas:
                <div class="btn-group" role="group">
                    <a class="toggle-vis btn btn-primary" data-bs-toggle="button" data-column="2">Aprendiz</a>
                    <a class="toggle-vis btn btn-primary" data-bs-toggle="button" data-column="3">Ficha</a>
                    <a class="toggle-vis btn btn-primary" data-bs-toggle="button" data-column="4">Observaciones</a>
                    <a class="toggle-vis btn btn-primary" data-bs-toggle="button" data-column="5">Acciones</a>
                </div>                
            </div>            
        </div>

        <table id="table_late" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">Aprendiz</th>
                    <th scope="col" class="text-center">Ficha</th>
                    <th scope="col" class="text-center">Observaciones</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for latearrival in latearrival_list %}

                <tr>
                    <th class="text-center"><span id="id{{ latearrival.id }}">{{ latearrival.id }}</span></th>
                    <td class="text-center"><span id="date_arrival{{ latearrival.id }}">{{ latearrival.date_arrival }}</span></td>
                    <td class="text-center"><span id="document_apprentice{{ latearrival.id }}">{{ latearrival.document_apprentice.document }} - {{ latearrival.document_apprentice.full_name }}</span></td>
                    <td class="text-center"><span id="course{{ latearrival.id }}">{{ latearrival.document_apprentice.id_course.id }}</span></td>
                    <td class="text-center"><span id="observations{{ latearrival.id }}">{{ latearrival.observations }}</span></td>
                    <td class="text-center">
                        <form method="POST" action="{% url 'late_arrival_delete' latearrival.pk %}">{% csrf_token %}
                            <!-- <button id="btnVer" type="button" class="btn btn-primary ver" value="{{ latearrival.id }}">
                                Ver
                            </button> -->
                            <a href="{% url 'late_arrival_edit' latearrival.pk %}" class="btn btn-info"
                                role="button">Editar</a>
                            <button class="btn btn-danger" role="button" onclick="return eliminar();"
                                type="submit">Eliminar</a>
                        </form>
                    </td>
                </tr>
                <!-- Modal -->
                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle del registro</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Id: </strong><span id="id_late"></span></p>
                                <p><strong>Fecha: </strong><span id="date_arrival"></span></p>
                                <p><strong>Aprendiz: </strong><span id="apprentice"></span></p>
                                <p><strong>Ficha:: </strong><span id="course"></span></p>
                                <p><strong>Observaciones: </strong><span id="observations"></span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- Modal -->

                {% endfor %}

            </tbody>
        </table>

    </div>

</div>
<br />



<script type="text/javascript">
    function eliminar() {
        var x = confirm("¿Está seguro de que desea eliminar el registro?");
        if (x)
            return true;
        else
            return false;
    }

    

    /* $(document).ready(function () {
        $(document).on('click', '.ver', function () {
            var id = $(this).val();
            var id_late = $('#id' + id).text();
            var date_arrival = $('#date_arrival' + id).text();
            var document_apprentice = $('#document_apprentice' + id).text();
            var course = $('#course' + id).text();
            var observations = $('#observations' + id).text();
            //console.log(id_late);

            $('#exampleModal').modal('show');
            $('#id_late').text(id_late);
            $('#date_arrival').text(date_arrival);
            $('#apprentice').text(document_apprentice);
            $('#course').text(course);
            $('#observations').text(observations);
        });
    }); */

    $(document).ready(function () {
        var table = $('#table_late').DataTable({
            "pageLength": 5,
            "lengthChange": false,
            "language": {
                "paginate": {
                    "previous": "Anterior",
                    "next": "Sgte"
                },
                "search": "Buscar:",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
            },
            "order": [[0, 'desc']],
        });

        $('a.toggle-vis').on('click', function (e) {
        e.preventDefault();
        var column = table.column($(this).attr('data-column')); 
        // Toggle the visibility
        column.visible(!column.visible());
    });
    });

</script>

{% endblock content %}